<div class="footer">
  <div class="sec-1">Developed with &hearts; by Vansh Chauhan!</div>
  <div class="sec-2">
    <a
      href="https://www.linkedin.com/in/vansh-chauhan-741a5b257/"
      target="_blank"
      ><i class="fa-brands fa-linkedin"></i
    ></a>
    <a href="https://github.com/VanshChauhan-1106" target="_blank"
      ><i class="fa-brands fa-github"></i
    ></a>
    <a href="https://www.instagram.com/vansh_.chauhan_/" target="_blank"
      ><i class="fa-brands fa-instagram"></i
    ></a>
  </div>
</div>
